In [51]:
import numpy as np 
import pandas as pd 
np.random.seed(23)

mu_vect1 = np.array([ 0 , 0 , 0])
cov_mat1 = np.array([[1,0,0] , [0,1,0] , [0,0,1]])
class1_sample = np.random.multivariate_normal(mu_vect1 , cov_mat1 , 20)

df = pd.DataFrame(class1_sample , columns = ['feature1' , 'feature2' , 'feature3'])
df['target'] = 1 

mu_vec2 = np.array([1,1,1])
cov_mat2 = np.array([[1,0,0] , [0,1,0] , [0,0,1]])
class2_sample = np.random.multivariate_normal(mu_vec2 , cov_mat2 , 20)

df1 = pd.DataFrame(class2_sample , columns = ['feature1' , 'feature2' , 'feature3'])
df1['target'] = 0 

df = pd.concat([df , df1] , ignore_index=True)

df = df.sample(frac=1).reset_index(drop=True)
df

    feature1  feature2  feature3  target
0  -0.367548 -1.137460 -1.322148       1
1   0.177061 -0.598109  1.226512       0
2   0.420623  0.411620 -0.071324       1
3   1.968435 -0.547788 -0.679418       1
4  -2.506230  0.146960  0.606195       1
5   1.425140  1.441152  0.182561       0
6   2.224431  0.230401  1.192120       0
7   0.322272  0.060343 -1.043450       1
8  -0.723253  1.461259 -0.085367       0
9   2.823378 -0.332863  2.637391       0
10 -1.389866  0.666726  1.343517       0
11 -0.331617 -1.632386  0.619114       1
12  0.666988  0.025813 -0.777619       1
13 -1.009942  0.441736  1.128877       1
14  0.384865  1.323546 -0.103193       0
15  1.676860  4.187503 -0.080565       0
16  0.241106 -0.952510 -0.136267       1
17 -0.045438  1.040886 -0.094035       1
18 -0.992574 -0.161346  1.192404       1
19  1.437892  1.099723  1.065406       0
20  0.290746  0.866975  0.982643       0
21  0.731858  0.517441  2.244610       0
22 -1.027861  1.131416  2.603234       0
23 -0.420844 -0.551989 -0.121098       1
24 -0.764314  1.566504  1.548788       0
25  2.011059  1.920996  2.933090       0
26  0.898907  0.435960  0.820964       0
27  1.010229  1.437830  2.327788       0
28  0.948634  0.701672 -1.051082       1
29  1.415320  0.457711  0.728876       1
30  1.250737  0.186384  1.703624       0
31  0.204637 -0.011535  3.150780       0
32  0.748855  2.593111  1.170818       0
33  1.045371  0.538162  0.812119       1
34 -1.838068 -0.938769 -0.201841       1
35  0.190141  0.512137  0.131538       1
36 -0.022539  0.013422  0.935945       1
37  1.267248  0.173634 -1.223255       1
38  1.233898  0.052778 -0.261576       0
39  1.772258 -0.347459  0.670140       1

In [52]:
import plotly.express as px 
fig = px.scatter_3d(df, x='feature1', y='feature2', z='feature3', color='target')

# Save the figure as an HTML file
fig.write_html("plot.html")

# Open the HTML file in a browser
import webbrowser
webbrowser.open("plot.html")

True

In [53]:
df.describe()

        feature1   feature2   feature3    target
count  40.000000  40.000000  40.000000  40.00000
mean    0.433721   0.460790   0.667670   0.50000
std     1.157915   1.060976   1.152079   0.50637
min    -2.506230  -1.632386  -1.322148   0.00000
25%    -0.340600  -0.048988  -0.107669   0.00000
50%     0.402744   0.423790   0.699508   0.50000
75%     1.254864   1.055595   1.200931   1.00000
max     2.823378   4.187503   3.150780   1.00000

In [54]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

df.iloc[ :  , 0 : 3] = scaler.fit_transform(df[['feature1' , 'feature2' , 'feature3']])
np.round(df.describe())

       feature1  feature2  feature3  target
count      40.0      40.0      40.0    40.0
mean        0.0       0.0      -0.0     0.0
std         1.0       1.0       1.0     1.0
min        -3.0      -2.0      -2.0     0.0
25%        -1.0      -0.0      -1.0     0.0
50%        -0.0      -0.0       0.0     0.0
75%         1.0       1.0       0.0     1.0
max         2.0       4.0       2.0     1.0

In [55]:
#finding covariance matrix 
covariance_matrix = np.cov([df['feature1'] , df['feature2'] , df['feature3']])
covariance_matrix

array([[1.02564103, 0.20478114, 0.080118  ],
       [0.20478114, 1.02564103, 0.19838882],
       [0.080118  , 0.19838882, 1.02564103]])

In [56]:
eigen_values , eigen_vectors = np.linalg.eig(covariance_matrix)
eigen_values

array([1.3536065 , 0.94557084, 0.77774573])

In [57]:
eigen_vectors

array([[-0.53875915, -0.69363291,  0.47813384],
       [-0.65608325, -0.01057596, -0.75461442],
       [-0.52848211,  0.72025103,  0.44938304]])

In [58]:
pc = eigen_vectors[0 : 2]
pc

array([[-0.53875915, -0.69363291,  0.47813384],
       [-0.65608325, -0.01057596, -0.75461442]])

In [59]:
transformed_df  = np.dot(df.iloc[: , 0:3] , pc.T)

new_df = pd.DataFrame(transformed_df , columns=['pc1' , 'pc2'])
new_df['target'] = df['target'].values
new_df.head()

        pc1       pc2  target
0  0.599433  1.795862       1
1  1.056919 -0.212737       0
2 -0.271876  0.498222       1
3 -0.621586  0.023110       1
4  1.567286  1.730967       1

In [60]:
import plotly.express as px 
fig = px.scatter_3d(new_df, x='pc1', y='pc2', color='target')

# Save the figure as an HTML file
fig.write_html("plot2.html")

# Open the HTML file in a browser
import webbrowser
webbrowser.open("plot2.html")

True